.background{
    width:300px;
    height:440px;
    border: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    object-position: center;
    align-items: center;
    object-position: center;        
    margin-left: 350px;
    margin-top: 0;
    text-align:40px; 
    background-color:#c29aff;
    }

    .position1 {
        border-radius: 40px;
        border-color: aqua;
        display: flex;
    justify-content: center;
    object-position: center;
    align-items: center;
    object-position: center;   
        margin-top: 10px;
    margin-left: 30px;
    }
    .position2 {
        border-radius: 40px;
        border-color: aqua;
        display: flex;
    justify-content: center;
    object-position: center;
    align-items: center;
    object-position: center;   
        margin-top: 20px;
        margin-left: 30px;
    }
    .position3 {
        border-radius: 40px;
        border-color: aqua;
        display: flex;
    justify-content: center;
    object-position: center;
    align-items: center;
    object-position: center;   
        margin-top: -18px;
        margin-left: 30px;
    }
    .position4 {
        border-radius: 40px;
        border-color: aqua;
        display: flex;
    justify-content: center;
    object-position: center;
    align-items: center;
    object-position: center;   
        margin-top: 20px;
        margin-left: 30px;
    }
    .position-of-button {
        border-radius: 40px;
        border-color: pink;
        margin-left: 100px;
    }   
    .textstyle{
        margin-top: 20px; 
    }
    .position-of-reset{
        border-radius: 40px;
        border-color: rgb(41, 81, 106);
        margin-left: 10px; 
    }